name: mekuri

on:
  push:
    branches:
      - main
    tags:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency: deploy-group

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: flyctl
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
        run: flyctl deploy --remote-only